<svg class="fill-accent"  viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <title>caret-up-right</title>
    <path d="M23.070 7.679h-14.142c-0 0-0.001 0-0.001 0-0.69 0-1.25 0.559-1.25 1.25 0 0.345 0.14 0.658 0.367 0.884v0l14.141 14.143c0.227 0.225 0.54 0.365 0.885 0.365h0c0.69-0.001 1.249-0.56 1.25-1.25v-14.142c-0-0.69-0.56-1.25-1.25-1.25h-0zM21.82 20.053l-9.874-9.874h9.874z"></path>
    </svg>