---
import '../styles/landingCards.css';
import Layout from '../layouts/Layout.astro';
import AboutCard from '../components/Card/AboutCard.astro';
import IntroCard from '../components/Card/IntroCard.astro';
import NowCard from '../components/Card/NowCard.astro';
import Projects from '../components/Card/Projects.astro';
import Resume from '../components/Card/Resume.astro';
import Colors from '../components/Card/Colors.astro';
---

<Layout title="Vincent's Portfolio" description="This is my portfolio">
    <main class="lg:grid grid-rows-6 grid-cols-6 flex flex-col gap-2 lg:h-4/5 lg:w-10/12 w-11/12">
        <IntroCard class="animate-fade-in-intro" />
        <AboutCard title="About Me" class="animate-fade-in-about" />
        <NowCard title="now" class="animate-fade-in-now" />
        <Projects title="Projects" class="animate-fade-in-projects" />
        <Resume title="Resume" class="animate-fade-in-resume" />
        <Colors title="Colors" class="animate-fade-in-colors" />
    </main>
</Layout>