---
interface Props {
    py: string;
    px: string;
}

const { py, px } = Astro.props;
---

<button class=`bg-primWhite dark:bg-primBlack text-primBlack dark:text-primWhite rounded ${py} ${px} hover:text-accent focus:text-accent border border-accent border-l-1 border-t-1 border-r-4 border-b-4 transiton-all duration-300 ease-in-out active:bg-accent active:text-primBlack dark:active:text-primWhite`>
    <slot/>
</button>