---
interface Props {
    title?: string;
    body?: string;
    colSpan?: string;
    rowSpan?: string;
    href?: string;
    colorText?: string;
    height?: string;
    width?: string;
    class?: string;
}

const { title, body, colSpan, rowSpan, href, colorText, height, class: className } = Astro.props;
---

<div
    class={`card h-max sm:h-auto group overflow-hidden bg-primWhite dark:bg-primBlack shadow-lg rounded-lg p-6 border border-primBlack dark:border-primWhite hover:border-accent align-start flex-none ${
        height || "h-full"
    } justify-start w-full transition duration-500 ease-in-out col-span-1 ${
        colSpan || "lg:col-span-1"
    } ${rowSpan || ""} ${className || ""}`}
>
    <slot />
</div>
